generateGenesisBlock(): BlockData {
    return new Block(0, '000000', 'f1r5t', [], 0)
}

getBlockChain(): BlockData[] {
    return this.chain
}

addBlock(data: any): BlockData {
    const block = this.mineBlock(this.getLastBlock(), data)
    this.chain = [...this.chain, block]

    return block
}

getLastBlock(): BlockData {
    return this.chain[this.chain.length - 1]
}